.common-box{
    position relative
    background: #EFFAFF;
    height: 100vh
    overflow: hidden
    .content{
        position: absolute
        width 100%
        left 0
        top: 76px
        line-height: 22px
        z-index 99
        .main{
            background: #EFFAFF;
            border-radius: 14px 14px 0 0;
            box-shadow: 0 -2px 0 0 #96DFFF;
        }
    }
}