.help-list,.help-details{
    height: 100vh
    background: #effaff
    .list{
        background: #EFFAFF;
        box-shadow: 0 -2px 0 0 #96DFFF;
        border-radius: 14px 14px 0 0;
        position absolute
        width 100%
        left 0
        top 74px
        z-index 100
        a{
            background: rgba(150,223,255,0.20);
            border-radius: 4px;
            height 36px
        }
        .answer{
            line-height: 22px
        }
        .content{
            background: rgba(150,223,255,0.20);
            border-radius: 10px
        }
    }    
}