.privacy-clause{
    display flex
    flex-direction: column;
    // .article{
    //     text-indent: 2em;
    // }
    .details{
        height 85vh
        padding-bottom: 30px
        overflow-y: auto
        line-height: 30px
    }
    table,td{
        border: 1px solid #346b86;
    }
    td{
        vertical-align: middle;
        padding:8px 12px;
        text-align: center;
    }
}