.privacy-clause{
    position relative
    background: #EFFAFF;
    height: 100vh
    overflow: hidden
    .content{
        box-shadow: 0 -2px 0 0 #96DFFF;
        position: absolute
        width 100%
        left 0
        line-height: 22px
        .main{
            margin-top: 76px
            background: #EFFAFF;
            border-radius: 14px 14px 0 0;
        }
        .details{
            height 85vh
            padding-bottom: 30px
            overflow-y: auto
        }
    }
}