.service-charge-info{
    .details{
        height 80vh
        overflow-y: auto
    }
    .level{
        background: #DBF4FF
        border-radius: 12px
        .line{
            width: 1px
            height 70px
            background: #CAE9F6;
        }
        .num-box{
            width: 160px
            height 100px
            
        }
    }
    table{
        background: #DBF4FF
        border-radius: 12px  
        width: 320px
        text-align: center
        overflow: hidden
        tr{
            height 40px
        }
        th{
            background: #B0E3F8;
            height 40px
            vertical-align: middle
            
            
        }
        td{
            vertical-align: middle
            border:1px solid rgba(202,233,246,0.70);
        }
    }
    .more{
        padding-left 10px
        padding-right 10px
        height: 40px
        background: #DBF4FF;
        border-radius: 20px;
        img{
            width 16px
            height 16px
        }    
    }
}